@model GitHubUsersRepository.Models.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Github User</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
        <h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> @Model.Location</h3>
    </div>
    <div class="panel-body">
        <img class="center-img user-avatar" src="@Model.AvatarUrl" alt="@Model.Name's Avatar'">
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">Top 5 Starred Repos</div>
            <div class="panel-body">
                <div class="list-group">
                    @if (Model.Repos.Count == 0)
                    {
                        <div class="alert alert-warning">
                            <h4>No Repos</h4>
                            <p>Looks like this user has no repos!</p>
                        </div>
                    }
                    else
                    {
                        foreach (var repo in Model.Repos)
                        {
                            <a href="@repo.HtmlUrl" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                    @repo.Name
                                </h4>

                                <p class="list-group-item-text">@repo.Description</p>

                                <p class="list-group-item-text">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    @repo.StargazersCount
                                </p>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Search", "Search", "User")
</p>